backend/training_data/*
backend/bitsandbytes-0.41.0/*
backend/models/*.safetensors
backend/models/*.pth
backend/models/v1.1/*
backend/models/__pycache__/*
backend/__pycache__/*
backend/models/.cache/*
backend/routes/__pycache__/*
backend/utils/__pycache__/*
backend/schemas/__pycache__/*
frontend/node_modules/*
frontend-2/node_modules/*
OmniGen2/experiments/*
